<section class="section" id="about_us">
  <div class="container">
    <div class="about-content">
      <picture class="about-image">
        <!-- Desktop -->
        <source
          media="(min-width: 1440px)"
          srcset="/img/about, /img/about-us/about-us-desk@2x-min.webp 2x"
        />

        <!-- Tablet -->
        <source
          media="(min-width: 768px)"
          srcset="
            /img/about-us/about-us-tab-min.webp    1x,
            /img/about-us/about-us-tab@2x-min.webp 2x
          "
        />

        <!-- Mobile -->
        <source
          media="(max-width: 767px)"
          srcset="
            /img/about-us/about-us-mob-min.webp    1x,
            /img/about-us/about-us-mob@2x-min.webp 2x
          "
        />

        <!-- Fullback image -->
        <img
          src="/img/about-us/about-us-tab-min.webp"
          alt="About Us section image"
        />
      </picture>

      <div class="about-text">
        <h2 class="epilogue about-us-title">Про Меблерію</h2>
        <p>
          У Меблерії ми прагнемо створювати затишок та функціональність у
          кожному домі. Наша місія - пропонувати високоякісні меблі, що
          поєднують у собі сучасний дизайн, довговічність та доступність. Ми
          віримо, що ідеальний інтер'єр починається з правильних меблів.
        </p>
      </div>
    </div>
  </div>
</section>
