<section class="faq" id="faq">
  <div class="container-faq">
    <h2 class="subtitle-faq">Часті питання</h2>
    <div class="faq-accordion" data-faq-accordion>
      <div class="faq-item faq-border" data-faq-item>
        <button class="faq-question" data-faq-question>
          <span class="faq-text">Як здійснюється доставка меблів?</span>
          <span class="faq-arrow" data-faq-arrow>
            <svg class="" width="32" height="32">
              <use href="/img/icons.svg#icon-arrow_down"></use>
            </svg>
          </span>
        </button>
        <div class="faq-answer" data-faq-answer>
          <p>
            Ми доставляємо замовлення по всій Україні через надійні служби.
            Термін доставки зазвичай складає 3–7 днів залежно від регіону.
          </p>
        </div>
      </div>
      <div class="faq-item" data-faq-item>
        <button class="faq-question" data-faq-question>
          <span class="faq-text"
            >Чи є можливість вибрати колір або матеріал?</span
          ><span class="faq-arrow" data-faq-arrow>
            <svg class="" width="32" height="32">
              <use href="/img/icons.svg#icon-arrow_down"></use>
            </svg>
          </span>
        </button>
        <div class="faq-answer" data-faq-answer>
          <p>
            Так, у багатьох моделях доступні варіанти оббивки та кольорів. Усі
            доступні опції вказані на сторінці товару.
          </p>
        </div>
      </div>
      <div class="faq-item" data-faq-item>
        <button class="faq-question" data-faq-question>
          <span class="faq-text"
            >Чи можна повернути товар, якщо він не підійшов?</span
          >
          <span class="faq-arrow" data-faq-arrow>
            <svg class="" width="32" height="32">
              <use href="/img/icons.svg#icon-arrow_down"></use>
            </svg>
          </span>
        </button>
        <div class="faq-answer" data-faq-answer>
          <p>
            Так, ви можете повернути товар протягом 14 днів, якщо він не був у
            користуванні та збережений у первинному вигляді.
          </p>
        </div>
      </div>
      <div class="faq-item" data-faq-item>
        <button class="faq-question" data-faq-question>
          <span class="faq-text">Чи надаєте ви послугу збирання меблів?</span>
          <span class="faq-arrow" data-faq-arrow>
            <svg class="" width="32" height="32">
              <use href="/img/icons.svg#icon-arrow_down"></use>
            </svg>
          </span>
        </button>
        <div class="faq-answer" data-faq-answer>
          <p>
            Так, під час оформлення замовлення можна обрати послугу збирання.
            Наші майстри зберуть меблі у зручний для вас час.
          </p>
        </div>
      </div>
      <div class="faq-item" data-faq-item>
        <button class="faq-question" data-faq-question>
          <span class="faq-text">Як здійснити оплату?</span>
          <span class="faq-arrow" data-faq-arrow>
            <svg class="" width="32" height="32">
              <use href="/img/icons.svg#icon-arrow_down"></use>
            </svg>
          </span>
        </button>
        <div class="faq-answer" data-faq-answer>
          <p>
            Ми приймаємо оплату карткою онлайн, банківським переказом або
            післяплатою при отриманні.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
