
<footer class="footer">
    <div class="container footer__container">
        <!-- Logo -->
         <div class="footer-logo">
        <a class="footer-logo" href="/" aria-label="Go to homepage">
            <svg class="logo-icon" width="49" height="49">
                 <use href="#icon-logo"></use>
            </svg>
            <span class="logo-text">Меблерія</span>
        </a>
        </div>
        <!-- Copyright for mobile/tablet visible in center on mobile -->
            <p class="footer__copyright desktop-copy">© 2025 Меблерія. Всі права захищені.</p>
        <!-- Nav -->
         <div class="footer-nav" >
        <nav class="footer-nav-link" aria-label="Footer navigation">
            <ul>
                <li><a class="footer-link" href="#furniture">Наші меблі</a></li>
                <li><a class="footer-link" href="#about">Про нас</a></li>
                <li><a class="footer-link" href="#faq">Часті питання</a></li>
                <li><a class="footer-link" href="#reviews">Відгуки</a></li>
            </ul>
        </nav>
        </div>
        <!-- Social icons -->
        <div class="footer-social">
            <ul>
                <!-- youtube svg -->
                <li>
                    <a class="footer-social__link" href="https://www.youtube.com/" target="_blank"
                        rel="noopener noreferrer">
                        <svg class="footer__icons" width="24" height="24">
                            <use href="#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
                <!-- instagram svg -->
                <li>
                    <a class="footer-social__link" href="https://www.instagram.com/" target="_blank"
                        rel="noopener noreferrer">
                        <svg class="footer__icons" width="24" height="24">
                            <use href="#icon-instagram"></use>
                        </svg>
                </li>
                <!-- facebook svg -->
                <li>
                    <a class="footer-social__link" href="https://www.facebook.com/" target="_blank"
                        rel="noopener noreferrer">
                        <svg class="footer__icons" width="24" height="24">
                            <use href="#icon-facebook"></use>
                        </svg>
                </li>
            </ul>
        </div>

        <!-- Copyright for mobile/tablet -->
            <p class="footer__copyright mobile-copy">© 2025 Меблерія. Всі права захищені.</p>
    </div>
</footer>