<header class="header" id="header">
  <div class="header-container container">
    <a class="logo-header" href="/">
      <svg class="logo-svg" width="163" height="69.86">
        <use href="/img/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <nav class="navigation">
      <a href="#furniture-list" class="navigation-desktop">Наші меблі</a>
      <a href="#about-us" class="navigation-desktop">Про нас</a>
      <a href="#faq" class="navigation-desktop">Часті питання</a>
      <a href="#feedback" class="navigation-desktop">Відгуки</a>
      <a href="#furniture-list" class="go-shopping-button primary-btn"
        >До покупок</a
      >

      <button class="burger-menu" type="button">
        <svg class="burger-menu-svg" width="32" height="32">
          <use href="/img/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
  </div>

  <div class="menu-overlay">
    <div class="header-menu-bg">
      <div class="header-menu container">
        <a class="logo-header" href="/">
          <svg class="logo-svg" width="32" height="32">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <button class="close-burger-menu" type="button">
          <svg class="close-burger-menu-svg" width="32" height="32">
            <use href="/img/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="nav-menu-bg">
      <div class="nav-menu container">
        <nav class="navigation-menu">
          <a href="#furniture-list" class="navigation-item-menu">Наші меблі</a>
          <a href="#about-us" class="navigation-item-menu">Про нас</a>
          <a href="#faq" class="navigation-item-menu">Часті питання</a>
          <a href="#feedback" class="navigation-item-menu">Відгуки</a>
          <a href="#furniture-list" class="go-shopping-button-menu"
            >До покупок</a
          >
        </nav>
      </div>
    </div>
  </div>
</header>
