<div class="backdrop js-modal-product">
  <div class="product-modal animate-in">
    <button class="product-modal__close js-close-product">
      <svg width="18" height="18">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="product-modal__wrapper">
      <div class="product-modal__images">
        <div class="swiper js-product-swiper">
          <div class="swiper-wrapper js-swiper-wrapper"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="product-modal__info">
        <h2 class="product-modal__title js-title"></h2>
        <p class="product-modal__category js-category"></p>
        <p class="product-modal__price js-price"></p>

        <div class="product-modal__rating js-rating"></div>

        <div class="product-modal__colors">
          <h3 class="product-modal__subtitle">Колір</h3>
          <ul class="product-modal__color-list js-colors"></ul>
        </div>

        <p class="product-modal__description js-description"></p>
        <p class="product-modal__dimensions js-dimensions"></p>

        <button class="product-modal__btn js-to-order">
          Перейти до замовлення
        </button>
      </div>
    </div>
  </div>
</div>
