<div class="modal-overlay">
  <div class="modal container">
    <button type="button" class="close-button">
      <svg width="32" height="32">
        <use href="./img/icons-sprite.svg#icon-close1"></use>
      </svg>
    </button>
    <div class="modal-body">
      <h2 class="form-header">Замовити</h2>

      <form name="order-form" class="order-form">
        <div class="input-group">
          <label for="username" class="form-lable">Ім'я*</label>
          <input
            class="user-input"
            type="text"
            name="username"
            id="username"
            placeholder="Дмитро"
          />
        </div>
        <div class="input-group">
          <label for="user-phone" class="form-lable">Телефон*</label>
          <input
            class="user-input"
            type="tel"
            name="user-phone"
            id="user-phone"
            placeholder="380991232211"
            required
          />
        </div>
        <div class="input-group">
          <label for="form-comments" class="form-lable">Коментар</label>
          <textarea
            class="user-text"
            name="textarea"
            id="form-comments"
            placeholder="Введіть Ваш коментар"
            rows="10"
            minlength="5"
            maxlength="256"
          ></textarea>
        </div>
        <span class="loader modal-loader hidden"></span>
        <button class="primary-btn order-button" type="submit">
          Надіслати заявку
        </button>
      </form>
    </div>
  </div>
</div>
