.about-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}
.about-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
  justify-content: center;
}
.about-image {
  display: block;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.about-us-title {
  font-size: 36px;
  text-align: left;
}
.about {
  background-color: #f0e6e6;
  padding: 64px 0px;
}

.text-about {
  text-align: left;
}
@media (min-width: 768px) {
  .about-us-title {
  }
}

@media (min-width: 1440px) {
  .about-content {
    flex-direction: row;
  }
  .about-us-title {
    font-size: 48px;
  }
}
