.faq {
  width: 100%;
  display: block;
  padding-top: 48px;
  padding-bottom: 48px;
  scroll-margin-top: 40px;
  background-color: #ffffff;
}

.subtitle-faq {
  margin-bottom: 32px;
  text-align: center;

  font-size: 36px;
}

.faq-accordion {
  max-height: 1040px;
  scroll-behavior: smooth;
}
.faq-text {
}

.faq-item {
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.15);
}
.faq-border {
  border-top: 1px solid hsla(0, 0%, 0%, 0.15);
}
.faq-question {
  gap: 24px;
  width: 100%;
  background: none;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-inline: 0;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  color: #080c09;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  text-align: left;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.faq-item.active .faq-answer {
  max-height: 500px;
  padding-bottom: 24px;
}

.faq-accordion,
.faq-item,
.faq-answer {
  display: block;
}

.faq-arrow svg {
  display: block;
  transition: transform 0.2s ease-in-out;
  color: #080c09;
}

.faq-arrow.open svg {
  transform: rotate(180deg);
  color: #080c09;
}

@media screen and (min-width: 1200px) {
  .faq {
    padding-top: 100px;
    padding-bottom: 100px;
    scroll-margin-top: 74px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .subtitle-faq {
    font-size: 48px;
    margin-bottom: 32px;
  }
  .faq-text {
    font-size: 18px;
  }
  .faq-answer {
    font-size: 16px;
  }
  .faq-accordion {
    max-height: 1097px;
  }
  .faq-item {
    max-width: 900px;
    margin: 0 auto;
  }
}
