.footer {
    background: #6b0609;
}

.footer__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ===== ЛОГОТИП ===== */
.footer-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
}


/* ===== КОПІРАЙТ DESKTOP ===== */
.footer__copyright.desktop-copy {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    display: block;
}

/* ===== НАВІГАЦІЯ ===== */
.footer-nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.footer-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    transition: color 0.5s;
}

.footer-link:hover,
.footer-link:focus {
    color: #d6bebe;
}

/* ===== СОЦІАЛЬНІ ІКОНКИ ===== */
.footer-social ul {
    display: flex;
    gap: 20px;
    list-style: none;

}

.footer-social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s;
}

.footer-social__link:hover,
.footer-social__link:focus {
    opacity: 0.5;
    cursor: pointer;
}

.footer__icons {
    fill: #ffffff;
    width: 24px;
    height: 24px;
}

/* ===== МОБІЛЬНИЙ КОПІРАЙТ ===== */
.mobile-copy {
    display: none;
}

/* ================================== */
/* ПЛАНШЕТ  */
/* ================================== */
@media (max-width: 1024px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }

    .footer-logo {
        flex-direction: column;
        text-align: center;
    }

    .footer__copyright.desktop-copy {
        display: none;

    }

    .footer__copyright.mobile-copy {
        display: block;
        text-align: center;
        color: #fff;
        order: 5;
    }

    .footer-nav ul {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .footer-social {
        order: 3;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-social {
        margin-top: 20px;
    }
}

/* ================================== */
/* МОБИЛЬНЫЙ ТЕЛЕФОН (до 767px) */
/* ================================== */
@media (max-width: 767px) {

    .footer__container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .footer-logo {
        flex-direction: column;
        text-align: center;
    }

    .footer-nav ul {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .footer-social ul {
        justify-content: center;
    }

    .footer__copyright.desktop-copy {
        display: none;
    }

    .footer__copyright.mobile-copy {
        display: block;
        text-align: center;
        order: 5;
    }
}