.footer {
    background-color: #6b0609;
    color: #fff;
    padding: 0 0 32px;
}

.logo-footer {
    display: block;
    padding: 24px 4px;
    max-height: 96px;
}

.footer__logo-item {
    fill: #fff;
}

.footer__block-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.footer-nav-list-item-link {
    display: block;
    font-size: 16px;
    transition: all 0.3s ease;
}

.footer__social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.footer-social__link {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}

.footer__icons {
    fill: #fff;
    transition: opacity 0.35s ease-in-out;
}

.footer__text-desktop {
    display: none;
}

.footer__text-desktop,
.footer__text {
    font-size: 14px;
}

/* ================= TABLET ================= */
@media only screen and (min-width: 768px) {
    .footer-nav-list {
        flex-direction: row;
        justify-content: center;
    }
}

/* ================= DESKTOP ================= */
@media only screen and (min-width: 1440px) {
    .footer {
        padding: 0;
    }

    .footer__block-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
    }

    .footer-nav-list {
        flex-direction: row;
    }

    .footer__text {
        display: none;
    }

    .footer__text-desktop {
        display: block;
        padding: 0 32px;
    }

    .footer-nav-list-item-link:hover,
    .footer-nav-list-item-link:focus {
        opacity: 0.5;
        transition: opacity 0.35s ease-in-out;
    }

    .footer-social__link:hover .footer__icons,
    .footer-social__link:focus .footer__icons {
        opacity: 0.5;
    }
}