.hero {
  background-image: url('../img/hero_section/hero-mob-1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 157px;
  padding-bottom: 157px;
}

@media (min-resolution: 2x) {
  .hero {
    background-image: url(../img/hero_section/hero-mob-2x.jpg);
  }
}

.hero-title {
  color: #fff;
  margin-bottom: 24px;
}

.hero-text {
  font-size: 16px;
  color: #fff;
  margin-bottom: 32px;
}
/* 
.hero-btn {
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  color: #fff;

  background-color: #6b0609;
  border-radius: 100px;

  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    opacity: 0.5;
  }
} */






@media (min-width: 768px) {
  .hero {
    background-image: url('../img/hero_section/hero-tab-1x.jpg');
    padding-top: 37px;
    padding-bottom: 37px;
  }

  @media (min-resolution: 2x) {
    .hero {
      background-image: url(../img/hero_section/hero-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    max-width: 560px;
  }

  .hero-text {
    font-size: 18px;
    max-width: 560px;
  }

  .hero-btn {
    display: inline-block;
    padding: 10px 24px;
  }
}

@media (min-width: 1440px) {
  .hero {
    background-image: url('../img/hero_section/hero1x.jpg');
    padding-top: 92px;
    padding-bottom: 92px;
  }

  @media (min-resolution: 2x) {
    .hero {
      background-image: url(../img/hero_section/hero2x.jpg);
    }
  }
}