.hero {
  background-image: url('../img/hero_section/hero-mob-1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 136px;
  padding-bottom: 137px;
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero_section/hero-mob-2x.jpg);
  }
}

.hero-title {
  color: #fff;
  font-size: 40px;
  margin-bottom: 24px;  
}

.hero-text {
  font-size: 18px;
  color: #fff;
  margin-bottom: 32px;  
}
.primary-btn, btn {
 border-radius: 100px;
 padding: 10px 24px;
 width: 335px;
 height: 46px;
} 

@media (min-width: 768px) {
  .hero {
    background-image: url('../img/hero_section/hero-tab-1x.jpg');
    padding-top: 79px;
    padding-bottom: 80px;
  }

  @media (min-resolution: 2dppx) {
    .hero {
      background-image: url(../img/hero_section/hero-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 40px;
    max-width: 560px;
  }

  .hero-text {
    font-size: 18px;
    max-width: 560px;
  }

  .primary-btn, btn {
    width: 209px;
    height: 46px;
  }
}

@media (min-width: 1440px) {
  .hero {
    background-image: url('../img/hero_section/hero1x.jpg');
    padding-top: 92px;
    padding-bottom: 92px;
  }

  @media (min-resolution: 2x) {
    .hero {
      background-image: url(../img/hero_section/hero2x.jpg);
    }
  }
  .hero-title {
      font-size: 56px;
  }
}