:root {
  --color-scheme-1-background: var(--color-white);
  --color-neutral-darkest: #080c09;

  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-neutral-lighter: #d9dada;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;

  --color-scheme-1-foreground: var(--color-neutral-lightest);
  --color-scheme-1-accent: var(--color-neutral-darkest);

  --opacity-neutral-darkest-5: rgba(8, 12, 9, 0.05);

  --opacity-neutral-darkest-40: rgba(8, 12, 9, 0.4);

  --opacity-neutral-darkest-60: rgba(8, 12, 9, 0.6);

  --color-madang: #6b0609;

  --color-scheme-2-text: var(--color-neutral-darkest);
  --color-scheme-2-background: var(--color-madang-lightest);
  --color-scheme-2-border: var(--opacity-neutral-darkest-15);
  --color-scheme-2-accent: var(--color-neutral-darkest);
  --color-scheme-2-foreground: var(--color-madang-lighter);
}

/**************************** Modal overlay *********************************************/
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.25);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

/*********************************Modal window******************************/
.modal {
  position: relative;
  background-color: var(--color-scheme-1-background);
  border: 1px solid rgba(8, 12, 9, 5);
  border-radius: 8px;
  max-height: 90%;
  overflow-y: auto;
  transition: opacity 250ms ease-in-out;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;
  margin: 64px 0;
}

/* ***************************form ***************************************/

.order-form,
.input-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.order-button,
.input-group,
.user-input,
.user-text {
  width: 100%;
}

.user-input,
.user-text {
  padding: 12px 8px;
  background-color: var(--opacity-neutral-darkest-5);
  border-radius: 12px;
  border: 1px solid transparent;
  line-height: 1.6;
  color: var(--opacity-neutral-darkest-60);
}

.user-input:focus,
.user-text:focus {
  border: 1px solid var(--opacity-neutral-darkest-40);
  outline: none;
}

.user-input::placeholder,
.user-text::placeholder {
  font-size: 16px;
  font-weight: 400;
}

.user-input:hover::placeholder,
.user-text:hover::placeholder {
  color: var(--color-scheme-1-text);
}

.user-input:focus::placeholder,
.user-text:focus::placeholder {
  color: transparent;
}
/***************** Error class ***************************/
.user-input.error-message,
.user.text.error-message,
.user-input.error-message::placeholder,
.user.text.error-message::placeholder {
  border: 1px solid var(--color-madang);
  color: var(--color-madang);
}

.order-form {
  gap: 24px;
  width: 295px;
}
.input-group {
  gap: 8px;
}

.user-text {
  height: 180px;
  resize: none;
}

.form-lable {
  font-weight: 400;
}
/******************** header ********************************/

.form-header {
  font-size: 36px;
}

/************************** button *************************/
.close-button {
  position: absolute;
  top: 16px;
  right: 16px;
}

/************************Responsive*************************/

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .modal-body {
    margin-bottom: 32px;
  }
  .order-form {
    width: 640px;
  }
  .order-button {
    width: 196px;
    align-self: center;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .form-header {
    font-weight: 700;
    font-size: 48px;
  }

  .modal-body {
    margin-bottom: 64px;
  }
  .order-form {
    width: 738px;
  }
}
