.popular-products {
  padding-top: 48px;
  padding-bottom: 48px;
}

.popular-products-titile {
  text-align: center;
  font-size: 36px;
  margin-bottom: 32px;
}

.popular-products-gallery {
  margin-bottom: 48px;
  display: flex;
  gap: 16px;
}

.popular-gallery-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 280px !important;
  gap: 16px;
}

.popular-gallery-item-img {
  border-radius: 8px;
  width: 280px;
  height: 231px;
  object-fit: cover;
}

.popular-gallery-item-dscr {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.popular-gallery-item-title {
  font-weight: 600;
}

.popular-gallery-item-color {
  display: flex;
  gap: 16px;
}

.popular-gallery-item-color-pick {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #c7c3bb;
  display: inline-block;
}

.popular-gallery-item-price {
  font-weight: 600;
  font-size: 20px;
}

.popular-gallery-item-info-btn {
  border-radius: 100px;
  padding: 10px 24px;
  width: 280px;
  height: 46px;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(8, 12, 9, 0.05),
    inset 0 0 0 1px rgba(8, 12, 9, 0.05);
  background: rgba(8, 12, 9, 0.05);
  outline: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #080c09;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popular-gallery-item-info-btn:hover,
.popular-gallery-item-info-btn:focus {
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  .popular-products-gallery {
    gap: 24px;
  }

  .popular-gallery-item {
    width: 341px !important;
  }

  .popular-gallery-item-img {
    width: 341px;
    height: 282px;
  }

  .popular-gallery-item-info-btn {
    width: 341px;
  }
}

@media only screen and (min-width: 1440px) {
  .popular-products {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .popular-products-titile {
    font-size: 48px;
  }

  .popular-gallery-item {
    width: 310px !important;
  }

  .popular-gallery-item-img {
    width: 310px;
    height: 256px;
  }

  .popular-gallery-item-info-btn {
    width: 310px;
  }
}

.swiper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.swiper-button-container {
  display: flex;
  gap: 16px;
}

.popular-products-pagination {
  position: static !important;
  transform: none !important;
  width: 104px !important;
}

.popular-products-prev,
.popular-products-next {
  position: static !important;
  transform: none !important;
  margin-top: 0 !important;
  border: 1px solid rgba(8, 12, 9, 0.15);
  border-radius: 100px;
  padding: 12px;
  background-color: #f2f2f2;
}

.popular-products-prev svg,
.popular-products-next svg {
  color: #080c09;
}

.popular-products-prev:hover,
.popular-products-next:hover,
.popular-products-prev:focus,
.popular-products-next:focus {
  background-color: #975052;
}

.popular-products-prev:hover svg,
.popular-products-next:hover svg,
.popular-products-prev:focus svg,
.popular-products-next:focus svg {
  color: #ffffff;
}
.popular-products-next:active,
.popular-products-prev:active {
  background-color: #6b0609;
}
.popular-products-prev:disabled,
.popular-products-next:disabled {
  opacity: 0.3;
  background-color: #f2f2f2;
  cursor: default;
  pointer-events: none;
}

.popular-products-prev:disabled svg,
.popular-products-next:disabled svg {
  fill: #080c09;
}

.swiper-pagination-bullet {
  background-color: #080c09 !important;
}
